.banner1 {
    margin-top: 23px;
    width: 86%;
    overflow: hidden;
    @media (max-width: 1437px) and (min-width: 1022px) {
      width: 91%;
    }
    div {
      width: 25%;
      padding: 0px 5px;
    }
    a {
      display: block;
      img {
        display: block;
        width: 100%;
        border-radius: 20px;
      }
    }
  }
  
  @media only screen and (max-width: 1023px) {
    .banner1 {
      width: 100%;
      flex-wrap: wrap;
      padding: 0 13px;
    }
    .banner1 div img {
      width: 100%;
      padding: 0 0px;
    }
  
    .banner1 div img:nth-of-type(1),
    .banner1 div img:nth-of-type(2) {
      margin-bottom: 10px;
    }
  
    .banner1 div {
      width: 50%;
    }
  }
  