.main_best_selling{
  position: relative;
  .center_best_selling{
    @media (max-width: 1437px) and (min-width:1022px) {
      width:90%;
      margin-right:50px;
     margin-left:50px;
     }
    @media (max-width: 1023px) {
      width:100%;
      border-radius: 0;
      border:0;
     }
     
     .title_best_selling{
      @media (max-width: 1023px) {
        justify-content:start;
        padding-right: 10px;
      }
     }
    .Best__selling__slider {
      @media (max-width: 1023px) {
        height: 320px;
      }
      .swiper {
        .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
          opacity: 0;
          cursor: auto;
          pointer-events: none;
        }
        .swiper-slide{
          @media (max-width: 1023px) {
            width: unset;
            
          }
          @media (min-width: 1024px) {
            width: unset;
          }
          a div{
            @media (max-width: 1023px){
              overflow: hidden;
            display: -webkit-box;
           -webkit-line-clamp: 1;
            -webkit-box-orient: inline-axis;
            }
            @media (max-width: 740px){
              display: none;
            }
          }
          a span{
            @media (max-width: 740px){
              display: none;
            }
          }
        }
      }
    }
  }
}


