.main_best_selling{
  position: relative;
  .center_best_selling{
    @media (max-width: 1437px) and (min-width:1022px) {
      width:90%;
      margin-right:50px;
     margin-left:50px;
     }
    @media (max-width: 1023px) {
      width:100%;
      border-radius: 0;
      border:0;
     }
     
    .Best__selling__slider {
      
      .swiper-button-prev, .swiper-rtl .swiper-button-next {
          display:none;
        }
        
      .swiper-slide{
       
        margin : 0px !important;
        width:100%;
        a{
          width: 100%; 
        }
        .span_pro{
          @media (max-width: 1023px){
            width:25px;
          }
          @media (max-width: 975px){
            width:20px;
          }
          @media (max-width: 959px){
            width:15px;
          }
          @media (max-width: 940px){
            width:10px;
          }
          @media (max-width: 905px){
            width:5px;
          }
          @media (max-width: 889px){
            width:20px;
          }
          @media (max-width: 860px){
            width:15px;
          }
          @media (max-width: 822px){
            width:10px;
          }
          @media (max-width: 733px){
            width:5px;
          }
        }
        
      }
    }
  }
}


