footer{
    #footer-details{
        --max-lines: 3.5;
        --line-height:2;
       max-height: calc(var(--max-lines) * 1rem * var(--line-height));
       line-height: var(--line-height);
        overflow: hidden;
        position: relative;
    }
    #footer-details:has(+ .expan-btn:not(:checked)):before{
        content: "";
        position: absolute;
        height: calc(1em * var(--line-height));
        width: 100%;
        bottom: 0;
        pointer-events: none;
        background: linear-gradient(to bottom, transparent, white);
    }
    .expan-btn{
        appearance: none;
        cursor: pointer;
        margin-top: 1rem;
        background: url(..\image\footer\blue.svg);
        background-repeat: no-repeat;
        background-position: left;
        width: 90px;
    }
    .expan-btn::before{
        content: "مشاهده بیشتر";
    }
    .expan-btn:checked:before{
        content: "بستن";
        padding-right: 40px;
    }
    #footer-details:has(+ .expan-btn:checked){
        max-height: none;
    }
    #footer-details {
        h1{
            font-size: 20px;
            font-weight: 900;
        }
        a{
            color:#72bfd3;
        }
        h2{
            font-size: 18px;
           font-weight: 700;
        }
        
    }
    .socialMedia{
        a{
            img{
                @media (max-width: 1165px){
                    height: 35px;
                    width: 35px;
                }
                @media (max-width: 1090px){
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}