.item-box {
  .item-box-center  div{
    a{
      @media (max-width: 1200px) {
        Width:100px;
        margin-left:15px;
        margin-right:15px;
      }
      @media (max-width: 1023px) {
        Width:200px;
        margin-left:20px;
        margin-right:20px;
      }
    }
  }
 
}