.slider {
  .swiper-rtl .swiper-button-next {
    position: absolute;
    top: 80%;
    right:  calc(100% /7);
    opacity: 0;
    z-index: 1;
    background: #fff !important ;
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
    border: 1px solid #d0d0d0 !important;
    @media (max-width: 850px)  {
      right:  calc(100% /4.5);
    }
    @media (max-width: 1023px) {
     
      height: 30px !important;
      width: 30px !important;
    }
  }
  
  .swiper-button-prev {
    position: absolute;
    top: 80%;
    right:  calc(100% /10);
    opacity: 0;
    z-index: 1;
    background: #fff !important ;
    height: 40px !important;
    width: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
    border: 1px solid #d0d0d0 !important;
    @media (max-width: 850px)  {
      right:  calc(100% /7);
    }
    @media (max-width: 1023px) {
      height: 30px !important;
      width: 30px !important;
    }
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    width: 5px;
    height: 5px;
    margin: 2px;
    font-size: 10px;
    font-weight: 700;
    color: #424750;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  transition: 300ms;
}
.swiper-pagination-bullet{
  background: #7b7b7b;
}
.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
  width: 16px !important;
  border-radius: 5px;
}
}
.slider:hover .swiper-button-next {
  opacity: 1;
  transition: 300ms;
}
.slider:hover .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  opacity: 1;
  transition: 300ms;
}
