#Navbar-footer {
  div a div.animate__animated {
    width: 170px;
    height: 100%;
    position: absolute;
    @media (max-width: 400px){
      width: 100px;
    }
  }
  div a.animate__animated:hover {
    div.my-bg {
      background-color: #d0d0d0;
      filter: blur(4px);
      opacity: 0.4;
      animation-name: zoomIn;
      animation-duration: 0.4s;
    }
  }
  a{
    @media (max-width: 400px){
      width: 100px;
    }
  }
}
