.special-offer {
  .special__offer__center{
    @media (max-width: 1437px) {
      Width:90%;
      margin-right:50px;
     margin-left:50px;
     }
    @media (max-width: 1337px) {
     padding-right:10px;
     padding-left:10px;
    }
    @media (max-width: 1023px) {
      Width:100%;
    }
  }
  .swiper {
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
    }
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #c0c2c5 !important;

  }

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  margin-left: 2px;
  font-size: 10px;
  font-weight: 700;
  color: #424750;
}
}
