.Digi_Plus {
  .Digi_Plus_center {
    border-radius: 15px;
    background: linear-gradient(274.36deg, #E0CBDD 10%, #ECE6EC 100%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .Digi_Plus_right{
      @media (max-width: 1300px){
        width: 45%;
      }
      @media (max-width: 1100px){
        width: 50%;
      }
    }
    .Digi_Plus_left{
      @media (max-width: 1300px){
        width: 25%;
      }
      @media (max-width: 1100px){
        width: 30%;
      }
      @media (max-width: 1023px){
        width: 100%;
        display: flex;
        justify-content: end;
      }
      .Digi_Plus_title{
        font-size: 18px;
        font-weight: 700;
      }
      .Digi_Plus_timer{
        .Timer_Countdown{
          font-size: 15px;
          font-weight: 600;
        }
      .Digi_Plus_timer_text{
        font-size: 10px;
        font-weight: 600;
      }
      }
      .Digi_Plus_caption{
        margin-right: 10px;
        font-size: 13px;
        font-weight: 700;
      }
    }
  }
}
